Repository gardener/machine-controller-manager-provider-azure, pull requests merged in 2021-04, with the labels that each got.

#18 Prefix tags with 'v'
  VERSION
Labels: area/open-source, needs/ok-to-test, needs/review, size/xs

#17 add a check on provider of the machineclass in the driver methods
  kubernetes/machine-class.yaml
  pkg/azure/core.go
  pkg/azure/core_test.go
  pkg/azure/utils.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#20 add a checkon provider of the machineclass in the driver methods with proper error codes
  kubernetes/machine-class.yaml
  pkg/azure/core.go
  pkg/azure/core_test.go
Labels: needs/ok-to-test, needs/review, size/s

#22 handle decodeProviderSpecAndSecret error in ListMachines
  pkg/azure/core.go
  pkg/azure/core_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s
