Repository gardener/machine-controller-manager-provider-azure, pull requests merged in 2021-05, with the labels that each got.

#23 Fixes regressions while fetching CSI volume-IDs
  pkg/azure/core.go
  pkg/azure/core_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#24 Read avset informatino from machineset field
  pkg/azure/utils.go
Labels: needs/ok-to-test, needs/review, size/xs

#25 [Release v0.3] - Read avset information from machineset field
  pkg/azure/utils.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#26 Checks for NICs and Disks while listing VMs
  pkg/azure/core.go
  pkg/azure/core_test.go
  pkg/azure/mock/mockazureproviderspec.go
  pkg/azure/utils.go
Labels: needs/ok-to-test, needs/second-opinion, size/l

#27 [rel-v0.3] Checks for NICs and Disks while listing VMs
  pkg/azure/core.go
  pkg/azure/core_test.go
  pkg/azure/mock/mockazureproviderspec.go
  pkg/azure/utils.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#28 cleaned up unwanted logs & updated example machineClass file
  kubernetes/machine-class.yaml
  pkg/azure/core.go
  pkg/azure/utils.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#29 [rel-v0.3] Cleaned up unwanted logs & updated example machineClass file
  kubernetes/machine-class.yaml
  pkg/azure/core.go
  pkg/azure/utils.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#30 Revendor MCM @ v0.39.0
  .gitignore
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/machine.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/machine_safety.go
  vendor/github.com/gardener/machine-controller-manager/pkg/util/provider/machinecontroller/machine_util.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#31 A shared data structure was causing race conditions leading to VM creation with wrong configurations.
  pkg/azure/core.go
  pkg/azure/core_test.go
  pkg/azure/core_utils.go
  pkg/azure/utils.go
  vendor/modules.txt
Labels: kind/bug, kind/regression, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#32 [rel-v0.4] A shared data structure was causing race condition is fixed
  pkg/azure/core.go
  pkg/azure/core_test.go
  pkg/azure/core_utils.go
  pkg/azure/utils.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/m
