Repository gardener/machine-controller-manager-provider-azure, pull requests merged in 2024-06, with the labels that each got.

#156 Fetch kubeconfigs before check_cluster_state
  .ci/pipeline_integration_test
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#148 Make cloud instance that is connected to configurable
  pkg/azure/access/factory.go
  pkg/azure/access/types.go
  pkg/azure/api/providerspec.go
  pkg/azure/api/validation/validation.go
  pkg/azure/api/validation/validation_test.go
  pkg/azure/provider/helpers/connectconfig.go
  pkg/azure/provider/helpers/connectconfig_test.go
  pkg/azure/provider/helpers/driver.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#150 Switch data disk lun from pointer to value
  pkg/azure/api/providerspec.go
  pkg/azure/api/validation/validation.go
  pkg/azure/api/validation/validation_test.go
  pkg/azure/provider/helpers/driver.go
  pkg/azure/testhelp/fakes/machineresources.go
  pkg/azure/testhelp/providerspec.go
  pkg/azure/utils/names.go
  pkg/azure/utils/names_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#158 fixes docker image
  Makefile
Labels: needs/ok-to-test, needs/review, size/xs
